<!DOCTYPE html>
{% extends "base.html" %}

{% block body_block %}

<style>

    .quiz-container {
        text-align: center;
    }

    .quiz-container button {
        background-color: #3e4ab8;
        border-radius: 10px;
        padding: 15px 30px;
        font-size: 18px; 
        color: #ffffff; 
    }

    h1 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 50px;
    }
</style>

<div class="quiz-container">
    <h1>Question 1</h1>
    
</div>

{% endblock %}